.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/


# data:
data*/

# solutions:
challenges-solutions/
_targets.R


# artifacts:
_freeze/
_extensions/
*_cache/
_site/


# playing around:
_archive/





