.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/


# data:
data*/

# solutions:
challenges-solutions/
_targets.R
funs/hidden/


# artifacts:
_freeze/
_extensions/
*_cache/
#_site/
*_files/
.quarto/

# built target objects:
_targets/
challenge05/
challenge06/


# playing around:
_archive/





